name: codecov

permissions:
  contents: read

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
    paths:
      - "**.rs"
      - '**Cargo.toml'
      - '**Cargo.lock'
      - "rust-toolchain.toml"
      - "rustfmt.toml"
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.sha }}
  cancel-in-progress: true

env:
  RUST_LOG: info
  RUST_BACKTRACE: 1

jobs:
  coverage:
    name: Test coverage
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR branch
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Install Rust
        uses: moonrepo/setup-rust@ede6de059f8046a5e236c94046823e2af11ca670 # v1.2.2
        with:
          cache-base: main
          components: llvm-tools-preview
          bins: cargo-llvm-cov
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Run test coverage
        run: |
          cargo llvm-cov --workspace --no-default-features --lcov --output-path lcov_no_default_feature.info
          cargo llvm-cov --workspace --features alloc --lcov --output-path lcov_alloc.info
          cargo llvm-cov --workspace --features std --lcov --output-path lcov_std.info
      - uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # v5.5.2
        with:
          files: ./lcov_no_default_feature.info,./lcov_alloc.info,./lcov_std.info
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}